In [76]:
import pandas as pd
import itertools

In [77]:
data = {"user": ["erin", "erica", "jeremy", "erin", "erica", "erica", "jeremy", "erin", "erica"], \
       "repo": ["repo1", "repo1", "repo1", "repo2", "repo2", "repo3", "repo3", "repo4", "repo4"]}

In [78]:
df = pd.DataFrame(data=data)
df

     user   repo
0    erin  repo1
1   erica  repo1
2  jeremy  repo1
3    erin  repo2
4   erica  repo2
5   erica  repo3
6  jeremy  repo3
7    erin  repo4
8   erica  repo4

In [79]:
users = list(df["user"].unique()) # get unique users
dic = {}

for user in users:
    repos = list(df.loc[df["user"] == user]["repo"]) # for each user, get list of repos for that user
    dic[user] = repos

In [80]:
dic

{'erin': ['repo1', 'repo2', 'repo4'],
 'erica': ['repo1', 'repo2', 'repo3', 'repo4'],
 'jeremy': ['repo1', 'repo3']}

In [81]:
rows = []
for k1, k2 in itertools.combinations(dic, 2): # get all pair combinations of keys (users)
    print(k1, k2) # can comment these print statements out
    print(set(dic[k1]) & set(dic[k2]))
    count = len(set(dic[k1]) & set(dic[k2])) # find number of repos in common between the two users
    rows.append([k1, k2, count])

erin erica
{'repo1', 'repo4', 'repo2'}
erin jeremy
{'repo1'}
erica jeremy
{'repo1', 'repo3'}

In [82]:
df_user = pd.DataFrame(rows, columns = ["user1", "user2", "count"]) # create dataframe with pair of users and num of repos in common

In [83]:
df_user

   user1   user2  count
0   erin   erica      3
1   erin  jeremy      1
2  erica  jeremy      2